.list-block {
    display: flex;
    flex-direction: column;
    width: 96%;
    min-height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 2%;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: #eeeeee;
        box-shadow: 0 0 15px 3px #c7c7c7;  
    }

    &.active {
        background-color: #c4c4c469; 
    }

    &__title {
        display: block;
        text-align: center;
        min-height: 20px;
        line-height: 16pt;
        font-size: 12pt;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}